@import "../base/variables";

/**********FOOTER*********/

footer {
    background-color: #f7f7f7;

    .container {
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        p {
            margin: 0;
            padding: 5px;
            color: rgb(100, 100, 100);
            align-items: center;
            font-size: 15px;
            cursor: default;
        }

        img {
            width: 30px;
            height: 30px;
            margin: 5px;
            cursor: pointer;

            &:hover {
                transform: scale(1.3);
            }
        }
    }
}

@media screen and (max-width: 480px) {

    footer .container {
        flex-direction: row;
        text-align: center;
        align-items: center;
        justify-content: space-between;

        .logo {
            display: none;
        }

        p {
            padding: auto;
            text-align: center;
            font-size: 10px;
        }

        img {
            width: 17px;
            height: 17px;
            margin: 2px;
            cursor: pointer;
        }
    }
}

@media screen and (max-width: 750px) {

    footer .container {
        flex-direction: row;
        text-align: center;
        align-items: center;
        justify-content: space-between;
    

        p {
            padding: auto;
            text-align: center;
            font-size: 12px;
        }

        img {
            width: 20px;
            height: 20px;
            margin: 2px;
            cursor: pointer;

            &:hover {
                transform: scale(1.1);
            }
        }
    }
}