@import "../base/variables";

/**********GENERALES**********/

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

button {
    font-size: 1.25em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 5px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    color: #f7f7f7;
    background-color: $violet;

    &:hover {
        background-color: rgb(101, 33, 165);
    }
}

.container {
    max-width: 1400px;
    margin: auto;
}

.color-acento {
    color: $violet;
}